// .container {
//     background-color: red;
//     padding: auto;
//     margin: auto;
//     width: 100%;
// }
.stylescss {
    background-color: #d0021b;
    padding: 30px;
    margin: auto;
    width: 100%;
}