.team__content {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.team__items {
    position: relative;
    margin: 0 auto;
}

.team__textBlack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    line-height: 35px;
    padding: 100px 40px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.team_textPink {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0068b3;
    color: white;
    width: 100%;
    padding: 20px;
}

.team__content img {
    display: block;
    width: 100%;
}

.team__items:hover .team__textBlack {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.team__items:hover .team_textPink {
    opacity: 0;
}

.team__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: right;
    width: 70%;
    margin: 0 auto;
}

.team__items2 .team__textBlack {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.team__items2:hover .team__textBlack {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}