.navbar {
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(219, 219, 219, 0.5);
  background-color: grey !important;
  }
.img{
  margin-left: 95px;
}
.navbar-nav nav-item a{
  font-family: Roboto;
  width: 71px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #414141;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}